html, body {
    height: 99%;
    width: 99%;
    margin: 0;
    display: flex;
    font-family: Courier New, monospace;
    justify-content: center;
    touch-action: manipulation;
}

#input-name {
    border: 1px solid #373737;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: auto;
    display: inline-block;
}

#connect-button {
    cursor: pointer;
    border: 1px solid #373737;
    border-radius: 5px;
    background-color: greenyellow;
    z-index: 5000;
}

#connect-button:hover {
    border: 2px solid #373737;
}

#duplicated-name {
    display: none;
    color: rgb(255, 117, 117);
}

#main-page {
    display: none;
    top: 0;
    position: relative;
    width: 90%;
    height: 95%;
    gap: 10px;
    flex-direction: column;
}

#welcome-message {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

#top-container {
    display: flex;
    width: 100%;
    height: 50%;
    max-height: 50%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#admin-container {
    display: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

#admin-commands-tag {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #f3f1f1;
    padding: 5px;
}

#admin-commands-holder {
    overflow: auto;
    height: 100%;
    width: 70%;
}

#admin-commands {
    list-style: none;
    padding: 10px;
}

#unlock-tcp,
#unlock-http,
#unlock-https,
#unlock-ws,
#shadow-ban,
#shadow-unban
{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

#unlock-tcp{
    background-color: rgb(255, 176, 176);
}

#unlock-http {
    background-color: rgb(163, 255, 77);
}

#unlock-https {
    background-color: rgb(241, 130, 249);
}

#unlock-ws {
    background-color: rgb(249, 211, 130);
}

#shadow-ban {
    background-color: rgb(255, 159, 69);
}

#shadow-unban {
    background-color: rgb(69, 255, 255);
}

#unlock-tcp:hover,
#unlock-http:hover,
#unlock-https:hover,
#unlock-ws:hover,
#shadow-ban:hover,
#shadow-unban:hover
{
    box-shadow: 1px 1px 1px #373737;
}

#clients-list-holder {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#clients-list-tag {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #f3f1f1;
    padding: 5px;
}

#clients-list-inner-holder {
    overflow: auto;
    height: 100%;
}

#private-messages-holder {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#private-messages-tag {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #f3f1f1;
    padding: 5px;
}

#private-messages-inner-holder {
    overflow: auto;
    height: 100%;
}

#private-messages {
    list-style-type: none;
    padding: 10px;
}

.udp-message-class, 
.tcp-message-class,
.get-message-class,
.post-message-class,
.http-message-class,
.ws-message-class
{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 5px;
    gap: 7px;
}

.self-message-class {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 5px;
    gap: 7px;
}

.udp-metadata-tag, 
.tcp-metadata-tag,
.get-metadata-tag,
.post-metadata-tag,
.http-metadata-tag,
.ws-metadata-tag 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.self-message-content {
    position: relative;
    padding: 5px;
    background-color: #99d3fb;
    border-radius: 3px;
    margin-bottom: 5px;
    word-wrap:break-word;
    max-width: 90%;
}

.udp-message-content, 
.tcp-message-content,
.http-message-content,
.ws-message-content
{
    position: relative;
    padding: 5px;
    background-color: #f3f3f3;
    border-radius: 3px;
    margin-bottom: 5px;
    word-wrap:break-word;
    max-width: 90%;
}

.udp-message-content::after,
.tcp-message-content::after,
.http-message-content::after,
.ws-message-content::after
{
    content: '';
	position: absolute;
	top: 0;
	left: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: #f3f3f3;
	border-top: 0;
	margin-left: -5px;
	margin-top: -5px;
}

.udp-origin, 
.tcp-origin,
.get-origin,
.post-origin,
.http-origin,
.ws-origin,
.self-tag,
.name-tag {
    font-weight: bold;
}

.timestamp-class {
    color: #ffffff;
    font-size: 12px;
    border-radius: 3px;
    background-color: #5c5c5c;
    vertical-align: middle;
    padding: 2px;
}

.log-tag {
    padding: 2px;
    border-radius: 2px;
    background: rgb(255, 242, 145);
}

.udp-tag {
    padding: 2px;
    border-radius: 2px;
    background: rgb(127, 212, 255);
}

.tcp-tag {
    padding: 2px;
    border-radius: 2px;
    background: rgb(255, 176, 176);
}

.get-tag {
    padding: 2px;
    border-radius: 2px;
    background: rgb(205, 255, 176);
}

.post-tag {
    padding: 2px;
    border-radius: 2px;
    background: rgb(255, 135, 135);
}

.http-tag {
    padding: 2px;
    border-radius: 2px;
    background: rgb(163, 255, 77);
}

.ws-tag {
    padding: 2px;
    border-radius: 2px;
    background: rgb(249, 211, 130);
}

.http-message-content {
    align-items: center;
    word-wrap:break-word;
}

.http-response-button {
    margin-top: 10px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #141414;
    background: rgb(255, 203, 163);
    text-align: center;
    width: auto;
}

.http-response-button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px #373737;
}

#global-message-logs-holder {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 50%;
    width: 100%;
    overflow: hidden;
}

#global-message-logs-tag {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #f3f1f1;
    padding: 5px;
}

#global-message-logs-inner-holder {
    overflow: auto;
    height: 95%;
}

#global-message-logs {
    padding: 10px;
    list-style-type: none;
}

.log-message {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.global-message-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.global-message-content {
    display: inline-block;
    position: relative;
    padding: 5px;
    background-color: #f3f3f3;
    border-radius: 3px;
    margin-bottom: 5px;
    align-items: center;
    width: max-content;
    max-width: 90%;
    word-wrap: break-word;
}

.global-message-class {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 10px;
}

.global-message-content::after
{
    content: '';
	position: absolute;
	top: 0;
	left: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: #f3f3f3;
	border-top: 0;
	margin-left: -5px;
	margin-top: -5px;
}

#clients-list {
    list-style-type: none;
    padding: 10px;
}

#clients-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 4px;
    background: #f3f3f3;
    width: 90%;
}

#clients-list li:hover
{
    cursor: pointer;
    border: 1px solid #bcbcbc;
}

.client-name-tag {
    font-weight: bold;
    color: #373737;
}

.client-buttons {
    width: 100%;
    position: relative;
    margin: 10px;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    word-wrap:break-word;
}

.udp-button,
.tcp-button,
.http-button,
.https-button,
.websocket-button
{
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #141414;
    border-radius: 3px;
}

.udp-button {
    background-color: rgb(127, 212, 255);
}

.tcp-button {
    background-color: rgb(255, 176, 176);
}

.http-button {
    background-color: rgb(168, 251, 186);
}

.https-button {
    background-color: rgb(241, 130, 249);
}

.websocket-button {
    background-color: rgb(249, 211, 130);
}

.udp-button:hover,
.tcp-button:hover,
.http-button:hover,
.https-button:hover,
.websocket-button:hover
{
    cursor: pointer;
    box-shadow: 1px 1px 1px #373737;
}

#udp-message-holder,
#tcp-message-holder
{
    display: none;
    position: fixed;
    width: 40%;
    height: 40%;
    border: 1px solid #141414;
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
    align-items: center;
    flex-direction: column;
    margin: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#websocket-holder
{
    display: none;
    position: absolute;
    width: 40%;
    height: 40%;
    max-height: 50%;
    border: 1px solid #141414;
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
    align-items: center;
    flex-direction: column;
    margin: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#udp-message,
#tcp-message
{
    resize: none;
    position: relative;
    max-height: 80%;
    height: 60%;
    width: 90%;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    overflow-y: auto;
}

#udp-send-button:hover,
#tcp-done-button:hover
{
    cursor: pointer;
}

#http-request-holder,
#http-response-holder
{
    display: none;
    position: fixed;
    width: auto;
    height: auto;
    max-height: 60%;
    max-width: 50%;
    border: 1px solid #141414;
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 10px;
}

#http-request,
#http-get-configuration,
#http-post-configuration {
    height: 100%;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

#http-method, 
#http-get-options {
    display: inline-block; /* Keeps the select elements inline but allows for block properties */
    vertical-align: middle; /* Aligns select elements with the surrounding text */
    margin: 0 5px; /* Adds spacing around select elements for better flow in the sentence */
}

#http-get-configuration {
    display: inline;
}

#http-post-configuration,
#http-post-body {
    display: none;
}

#http-post-body {
    resize: none;
    min-height: 100px;
    width: 90%;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    overflow-y: auto;
    padding: 0;
}

.http-response-body {
    resize: none;
    min-height: 70px;
    width: 90%;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    overflow-y: auto;
    padding: 0;
}

#http-send-button:hover,
.http-response-send-button:hover {
    cursor: pointer;
}

#websocket-holder {
    /* height: auto; */
    min-height: 50%;
}

.websocket-upper-holder {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center; /* This aligns items vertically in the center, optional */
    flex-direction: row;
}

.websocket-window-close {
    position: absolute;
    right: 10px; /* Positions the div at the far right */
    cursor: pointer; /* Makes it clear the div is clickable */
    /* padding: 2px; */
    width: 20px; /* Set the width */
    height: 20px; /* Set the height to the same value as width to make it a square */
    color: rgb(97, 97, 97);
    font-size: 20px;
    border: 1px solid black;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 147, 147);
}

.websocket-messages-holder {
    position: relative;
    height: 75%;
    width: 90%;
}

.websocket-messages-inner-holder {
    /* position: relative; */
    height:100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 3px;
    border: 1px solid rgb(151, 151, 151);
    background-color: #fffdfd;
}

#websocket-messages {
    list-style-type: none;
    padding: 10px;
}

.websocket-input-holder {
    position: relative;
    max-height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.websocket-message {
    resize: none;
    position: relative;
    max-height: 80%;
    height: 60%;
    width: 90%;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    overflow-y: auto;
}

@media (max-width: 900px) {
    #clients-list-inner-holder {
        max-height: 80%;
    }

    #clients-list li {
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        padding: 15px;
    }

    .client-buttons 
    {
        flex-direction: column; /* Stack buttons vertically on small screens */
        align-items: center; /* Center-align the buttons for a neat look */
        gap: 5px;
        width: 100%;
    }

    #websocket-holder {
        width: 80%;
    }

    .udp-button,
    .tcp-button,
    .http-button,
    .https-button,
    .websocket-button
    {
        padding: 2px;
        width: 100%;
        margin-right: 10px;
        text-align: center;
        border: 1px solid #141414;
        border-radius: 3px;
    }
}

#ban-holder,
#unban-holder
{
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    gap: 10px;
    border: 1px solid #141414;
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
    align-items: center;
    flex-direction: column;
    margin: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

textarea {
    /* iOS Safari */
    -webkit-touch-callout: auto;
    /* Safari */
    -webkit-user-select: auto;
    /* Konqueror HTML */
    -khtml-user-select: auto;
    /* Firefox */
    -moz-user-select: auto;
    /* Internet Explorer/Edge */
    -ms-user-select: auto;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    user-select: auto;
}